
/SistemaDeVotacion.web/SistemaDeVotacion.web/obj
/SistemaDeVotacion.web/SistemaDeVotacion.web/obj
SistemaDeVotacion.web/SistemaDeVotacion.web/obj/Debug/net8.0/SistemaDeVotacion.web.csproj.FileListAbsolute.txt
/SistemaDeVotacion.web/SistemaDeVotacion.web/obj
/SistemaDeVotacion.web/.vs