SistemaDeVotacion.Contrato/build/contracts/VotinSystem.json
SistemaDeVotacion.web/.vs
SistemaDeVotacion.web/SistemaDeVotacion.BlockchainServicio/bin
SistemaDeVotacion.web/SistemaDeVotacion.BlockchainServicio/obj
SistemaDeVotacion.web/SistemaDeVotacion.web/bin
SistemaDeVotacion.web/SistemaDeVotacion.web/obj
SistemaDeVotacion.web/SistemaDeVotacion.web/.env
SistemaDeVotacion.web/SistemaDeVotacion.Domain/obj
SistemaDeVotacion.web/SistemaDeVotacion.Domain/bin