@{
    ViewBag.Title = "Página Principal";
}

<h2>Bienvenido al Sistema de Votación</h2>

<div class="text-center">
    <a href="@Url.Action("ListaDeCandidatos")" class="btn btn-primary btn-lg">Ver Candidatos</a>
    <a href="@Url.Action("ElegirCandidato")" class="btn btn-success btn-lg">Votar</a>
</div>
