@model List<VoterViewModel>

<h2>Lista de Votantes</h2>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Dirección del Votante</th>
            <th scope="col">Nombre del Candidato</th>
            <th scope="col">ID del Candidato Votado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var voter in Model)
        {
            <tr>
                <td>@voter.AddressVoter</td>
                <td>@voter.CandidateName</td>
                <td>@voter.CandidateVoted</td>
            </tr>
        }
    </tbody>
</table>